<div fxLayoutAlign="space-around center" fxFill>
  <div flex="15"></div>
  <div fxFlex="70">
    <mat-card>
      <mat-card-title>{{'registerTitle' | translate }} </mat-card-title>
      <form [formGroup]="registerForm" class="login-form" (ngSubmit)="register()">
        <div layout="row">
          <mat-form-field fxFill>
            <mat-label>{{'loginEmail' | translate}}</mat-label>
            <input matInput 
              type="email"
              formControlName="emailFormControl" 
              [errorStateMatcher]="matcher"
              placeholder="{{ 'emailLoginPlaceholder' | translate }}">
            <mat-hint>{{'emailLoginHint' | translate}}</mat-hint>
            <mat-error *ngIf="registerForm.controls.emailFormControl.hasError('email') && !registerForm.controls.emailFormControl.hasError('required')">
              {{'emailLoginError' | translate}}
            </mat-error>
            <mat-error *ngIf="registerForm.controls.emailFormControl.hasError('required')">
              {{'emailLoginRequired' | translate}}
            </mat-error>
          </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field fxFill>
            <mat-label>{{'loginPsw' | translate}}</mat-label>
            <input matInput 
              type="password"
              formControlName="pswFormControl" 
              [errorStateMatcher]="matcher"
              placeholder="{{ 'pswLoginPlaceholder' | translate }}">
            <mat-hint>{{'pswLoginHint' | translate}}</mat-hint>
            <mat-error *ngIf="registerForm.controls.pswFormControl.hasError('required')">
              {{'pswLoginRequired' | translate}}
            </mat-error>
          </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field fxFill>
            <mat-label>{{'loginPswRecheck' | translate}}</mat-label>
            <input matInput 
              type="password"
              formControlName="pswCheckFormControl" 
              [errorStateMatcher]="matcher"
              placeholder="{{ 'pswLoginPlaceholder' | translate }}">
            <mat-hint>{{'loginPswRecheck' | translate}}</mat-hint>
            <mat-error *ngIf="registerForm.controls.pswCheckFormControl.hasError('email') && !registerForm.controls.pswCheckFormControl.hasError('required')">
              {{'emailLoginErrorNotMatch' | translate}}
            </mat-error>
            <mat-error *ngIf="registerForm.controls.pswCheckFormControl.hasError('required')">
              {{'pswLoginRequired' | translate}}
            </mat-error>
          </mat-form-field>  
        </div>
        <br>
        <div layout="row" align="center">
          <button type="submit" mat-flat-button color="primary">{{'registra' | translate}}</button>
          <a mat-flat-button routerLink="../">{{'back' | translate}}</a>
        </div>
      </form>
    </mat-card>
  </div>
  <div flex="15"></div>
</div>