<div>
  <div>
    <app-pdf-uploader
    [showButton]="false"
    [budget]="_configuratorService.currentSession">
    </app-pdf-uploader>  
  </div>
  <app-work-tree
    *ngIf="_userWorksLoaded"
    [userWorks]="userWorks"
    [workTypes]="workTypes"
    [workFactoryService]="_workFactory"
    (dataChanged)="updateInternalWorks($event)"
    (recalculated)="updateBudget($event)"> 
  </app-work-tree>  
  <br>
  <div>    
    <app-number-input (inputChanged)="recalculate()" [input]="charge"> </app-number-input> 
    <app-disabled-input [input]="tot_lav_int"> </app-disabled-input> 
    <app-disabled-input [input]="tot_lav_int_charge"> </app-disabled-input>     
  </div>
</div>