<div>  
  <app-work-tree> </app-work-tree>
  <br>
  <div>
    <mat-form-field>
      <mat-label>{{'workTypeSel' | translate}}</mat-label>
        <mat-select 
          [(value)]="selectedWorkType">
          <mat-option *ngFor="let wType of workTypes" 
          [value]="wType">
            {{wType | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <button mat-raised-button (click)="addWork()" translate>
      {{'addWork' | translate}}
    </button>
  </div>
</div>