
<div class="flex-container" layout="column" fxFill>

    <p>{{'usermat' | translate}}  </p>
    <app-material-list
      [showPrices]="true">
    </app-material-list>


    <!-- Lavorazioni template al momento nascoste -->
    <!-- <p>{{'userwork' | translate}}  </p>  
    <app-work-tree
      *ngIf="_userWorksLoaded"
      [userWorks]="userWorks"
      [editAndSave]="true"
      [workTypes]="workTypes"
      [workFactoryService]="_workFactory"
      (saveRequest)="saveWorkForUser($event)"
      (deleteRequest)="removeWorkForUser($event)">
    </app-work-tree>  

    <p>{{'userserv' | translate}}  </p>
    <app-work-tree
      *ngIf="_userExtWorksLoaded"
      [userWorks]="userExtWorks"
      [editAndSave]="true"
      [workTypes]="extWorkTypes"
      [workFactoryService]="_extWorkFactory"
      (saveRequest)="saveExtWorkForUser($event)"
      (deleteRequest)="removeExtWorkForUser($event)">
    </app-work-tree>   -->
    
    <button mat-raised-button color="accent" (click)="logout()"> {{'logout' | translate}} </button>  
</div>