<div>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

      <!-- Nodo dell'albero che si crea quandi si preme +, necessario inserire nome per creare nuovo stage -->
      <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <mat-form-field>
          <mat-label>{{'addStage' | translate}}</mat-label>
          <input matInput #itemValue >
        </mat-form-field>
        <button mat-button (click)="createStage(node, itemValue.value)">{{'Save' | translate}}</button>
      </mat-tree-node>

      <!-- Nodo per visualizzare un unico parametro di input -->
      <mat-tree-node *matTreeNodeDef="let node; when: hasOneInput" matTreeNodePadding>
        <app-single-input-node
          [node]="getNodeFromFlat(node)"
          (recalcRequested)="recalcNode($event)"> 
        </app-single-input-node>
      </mat-tree-node>
      
      <!-- Nodo per visualizzare un unico parametro di input -->
      <mat-tree-node *matTreeNodeDef="let node; when: hasOneInput" matTreeNodePadding>
        <app-single-input-node
          [node]="getNodeFromFlat(node)"
          (recalcRequested)="recalcNode($event)"> 
        </app-single-input-node>
      </mat-tree-node>

      <!-- Nodo normale -->
      <!-- so che non si dovrebbe fare: [ngModel]="getTreeNodeName(node)" nasce per il two way binding, "da sotto" non verrà mai cambiato, ma serve aggiornare il name del vero nodo e non del flat -->
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle>
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>        
        <p *ngIf="!showInlineEdit(node)"> {{node.name | translate}}</p>
        <app-inline-edit 
          *ngIf="showInlineEdit(node)"
          [(ngModel)]="getNodeFromFlat(node).name" 
          [required]="true" 
          type="text">
        </app-inline-edit>
        <div fxLayout="row" >        
          <app-disabled-input 
            *ngFor="let out of node.outputs"
            [input]="out">
          </app-disabled-input>
        </div>
        <button 
          mat-icon-button 
          *ngIf="node.canAddLevelFlag"
          (click)="addNewItem(node)">
          <mat-icon>add</mat-icon>
        </button>
        <button 
          mat-icon-button 
          (click)="deleteNode(node)">
          <mat-icon>delete</mat-icon>
        </button>
        <button 
          *ngIf="canSaveNode(node)"
          mat-icon-button 
          (click)="saveNode(node)">
          <mat-icon>save</mat-icon>
        </button>
      </mat-tree-node>
    </mat-tree>
    <br>
    <mat-form-field>
      <mat-label>{{'workTypeSel' | translate}}</mat-label>
      <mat-select 
        [(value)]="selectedWorkType">
        <mat-option *ngFor="let wType of workTypes" 
        [value]="wType">
          {{wType | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="addWork()" translate>
      {{'addWork' | translate}}
    </button>
  </div>