
<div  class="flex-container" layout="row">
  <mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header [collapsedHeight]="'*'" [expandedHeight]="'*'">
      <mat-panel-title>
        <div class="titleBold">
          1.SCEGLI IL MATERIALE
          <hr class="separator-center-style">
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- <mat-divider></mat-divider> -->
    <br>
    <div>
    <app-material-picker > </app-material-picker>
    <!-- <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput>
    </mat-form-field> -->
    </div>
    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Avanti</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header [collapsedHeight]="'*'" [expandedHeight]="'*'">
      <mat-panel-title>
        <div class="titleBold">
          2. INSERISCI LE DIMENSIONI DEL PEZZO
          <hr class="separator-center-style">
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- <mat-divider></mat-divider> -->
    <br>

    <app-piece-selector ></app-piece-selector>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Indietro</button>
      <button mat-button color="primary" (click)="nextStep()">Avanti</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header [collapsedHeight]="'*'" [expandedHeight]="'*'">
      <mat-panel-title>
        <div class="titleBold">
          3. INSERISCI I COSTI
          <hr class="separator-center-style">
        </div>
      </mat-panel-title>
      <!-- <mat-panel-description>
        Inform the date you wish to travel
        <mat-icon>date_range</mat-icon>
      </mat-panel-description> -->
    </mat-expansion-panel-header>

    <!-- <mat-divider></mat-divider> -->
    <br>

    <app-piece-price ></app-piece-price>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Indietro</button>
      <button mat-button color="primary" (click)="nextStep()">Avanti</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
    <mat-expansion-panel-header [collapsedHeight]="'*'" [expandedHeight]="'*'">
      <mat-panel-title>
        <div class="titleBold">
          4. LAVORAZIONI INTERNE
          <hr class="separator-center-style">
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- <mat-divider></mat-divider> -->
    <br>
    <app-internal-works ></app-internal-works>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Indietro</button>
      <button mat-button color="primary" (click)="nextStep()">Avanti</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
    <mat-expansion-panel-header [collapsedHeight]="'*'" [expandedHeight]="'*'">
      <mat-panel-title>
        <div class="titleBold">
          5. LAVORAZIONI ESTERNE
          <hr class="separator-center-style">
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- <mat-divider></mat-divider> -->
    <br>
    <app-external-works ></app-external-works>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Indietro</button>
      <button mat-button color="primary" (click)="nextStep()">Avanti</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
    <mat-expansion-panel-header [collapsedHeight]="'*'" [expandedHeight]="'*'">
      <mat-panel-title>
        <div class="titleBold">
          6. CONSIDERAZIONI FINALI
          <hr class="separator-center-style">
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- <mat-divider></mat-divider> -->
    <br>
    <app-recap > </app-recap>

    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Chiudi</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
</div>
