<div fxLayout="row wrap" fxLayout.xs="column wrap">
  <div flex="" *ngFor="let material of materials">
    <mat-card class="material_card">
      <!-- <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions> -->
      <img mat-card-image 
        [src]="getMaterialUrl(material)" 
        [alt]="material.name">
      <mat-card-content>
        <span id="tooltip"> {{material.name}} </span>
        <!-- Needed because I'm not using a group -->
        <mat-radio-button 
          [checked]="material.id == defaultSelected"
          (change)="selectedMaterialId = $event.value"
          [value]="material.id">
        </mat-radio-button>
      </mat-card-content>
    </mat-card>
  </div>
<div>