
  <div>
    <app-number-input 
      (inputChanged)="totalPiecesChanged()" 
      [input]="n_pieces"> 
    </app-number-input>
    <app-string-input [input]="client_name"> </app-string-input>
    <app-string-input [input]="client_code"> </app-string-input>
    <app-disabled-input [input]="budget_date"> </app-disabled-input>
  </div>

  <app-material-list
    [showPrices]="false"
    (selectedMaterialChanged)="updateMaterial($event)"
    (signalChanged)="setChanged()">
  </app-material-list>
<div>