<div 
  id="canvas" 
  background="white" 
  fxLayout="column" 
  fxLayoutAlign="space-around start" 
  fxFill>
  <!-- Gli offset per iniziare a visualizzare sotto "sitename" -->
  <div id="show" fxLayout="row" xLayoutAlign="start" fxFlexOffset="35"> 
    <div fxFlex="50">
      <span> ----------------------------- </span>
      <!-- Contenitore di sinistra coi dati utente, lo span serve per applicare la size giusta -->
      <div fxLayout="row" xLayoutAlign="start" > 
        <div>
          <span> UTENTE </span>
        </div>
        <div fxFlex>
          <span> VOID </span>
        </div>
      </div>
    </div>
    <div fxFill> </div>   
    <div fxFlex="50" xLayoutAlign="end">
      <span> ----------------------------- </span>
      <div fxLayout="row" xLayoutAlign="end" > 
        <div>
          <span> CLIENTE </span>
        </div>
        <div fxFlex>
          <span> VOID </span>
        </div>
      </div>
    </div>
  </div>
  <div id="show2" fxLayout="row" xLayoutAlign="start"> 
    <div fxLayout="column">
      <div> 
        <span> ------------- LOTTO PEZZI --------------- </span>
      </div>      
      <div > </div>      
      <div> 
        <span> 50</span>
      </div>
    </div>
    <div fxLayout="column" fxFill> </div>
    <div fxLayout="column">
      <div> 
        <span> ------------- DATA --------------- </span>
      </div>      
      <div > </div>      
      <div> 
      <span> 11/02/1998 </span>
      </div>
    </div>
  </div>   
  
  <div id="show" fxLayout="row" xLayoutAlign="start">  
    
  </div>

    <div 
      fxLayout="row"
      fxFill>
    </div>
</div>