<div 
  id="canvas" 
  background="white" 
  fxLayout="column" 
  fxLayoutAlign="space-around start">
  <!-- Gli offset per iniziare a visualizzare sotto "sitename" -->
  <div id="show" fxLayout="row" xLayoutAlign="start"> 
    <div fxFlex="50">
      <span> ----------------------------- </span>
      <!-- Contenitore di sinistra coi dati utente, lo span serve per applicare la size giusta -->
      <div fxLayout="row" xLayoutAlign="start" > 
        <div>
          <span> UTENTE </span>
        </div>
        <div fxFlex>
          <span> VOID </span>
        </div>
      </div>
    </div>
    <div fxFill> </div>   
    <div fxFlex="50" xLayoutAlign="end">
      <span> ----------------------------- </span>
      <div fxLayout="row" xLayoutAlign="end" > 
        <div>
          <span> CLIENTE </span>
        </div>
        <div fxFlex>
          <span> VOID </span>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div id="show2" fxLayout="row" xLayoutAlign="start"> 
    <div fxLayout="column">
      <div> 
        <span> ------------- LOTTO PEZZI --------------- </span>
      </div>      
      <div > </div>      
      <div> 
        <span> 50</span>
      </div>
    </div>
    <div fxLayout="column" fxFill> </div>
    <div fxLayout="column">
      <div> 
        <span> ------------- DATA --------------- </span>
      </div>      
      <div > </div>      
      <div> 
      <span> 11/02/1998 </span>
      </div>
    </div>
  </div>   
  <br>

  <div id="show" fxLayout="row" xLayoutAlign="start"> 
    <div fxLayout="column">
      <div> 
        <span> ------------- TIPO --------------- </span>
      </div>      
      <div > </div>      
      <div> 
        <span> 50</span>
      </div>
    </div>
    <div fxLayout="column">
      <div> 
        <span> ------------- FORMA --------------- </span>
      </div>      
      <div > </div>      
      <div> 
      <span> QUADRANGOLARE </span>
      </div>
    </div>
    <div fxLayout="column">
      <div> 
        <span> ------------- PESO --------------- </span>
      </div>      
      <div > </div>      
      <div> 
      <span> 1111 </span>
      </div>
    </div>
    <div fxLayout="column">
      <div> 
        <span> ------------- DIMENSIONI --------------- </span>
      </div>      
      <div > </div>      
      <div> 
      <span> 3X2X200 </span>
      </div>
    </div>  
  </div>  
  <br>
  
  <div id="show2" fxLayout="row" xLayoutAlign="start"> 
    <div fxLayout="column">
      <div> 
        <span> ******** CENTRO DI COSTO **********  </span>
      </div>      
      <div > </div>      
      <div> 
        <span> ///////// FRESATURA</span>
      </div>
      <div > </div>      
      <div> 
        <span> ///////// TORNITURA</span>
      </div>
    </div>
    <div fxLayout="column">
      <div> 
        <span> ******** MINUTI AL PEZZO **********  </span>
      </div>      
      <div > </div>      
      <div> 
        <span> ///////// 5</span>
      </div>
      <div > </div>      
      <div> 
        <span> ///////// 2</span>
      </div>
    </div>
    <div fxLayout="column">
      <div> 
        <span> ******** MINUTI TOTALI LOTTO **********  </span>
      </div>      
      <div > </div>      
      <div> 
        <span> ///////// 180</span>
      </div>
      <div > </div>      
      <div> 
        <span> ///////// 270</span>
      </div>
    </div>
  </div>
  <br>

  <div id="show" fxLayout="row" xLayoutAlign="start"> 
    <div fxLayout="column">
      <div> 
        <span> ******** TRATTAMENTI **********  </span>
      </div>      
      <div > </div>      
      <div> 
        <span> ///////// ZINCATURA</span>
      </div>
    </div>
  </div>
  <div id="show2" fxLayout="row" xLayoutAlign="start"> 
    <div fxLayout="column">
      <div> 
        <span> ******** LAVORAZIONI ESTERNE **********  </span>
      </div>      
      <div > </div>      
      <div> 
        <span> ///////// RETTIFICA</span>
      </div>
    </div>
  </div>
  <br>
  <div id="show" fxLayout="row" xLayoutAlign="start"> 
    <div fxLayout="column">
      <div> 
        <span> ******** COSTO MATERIA PRIMA AL PEZZO **********  </span>
      </div>      
      <div > </div>      
      <div> 
        <span> ///////// COSTO LAVORAZIONI INTERNE</span>
      </div>
      <div > </div>      
      <div> 
        <span> ///////// COSTO TRATTAMENTI AL PEZZO</span>
      </div>
      <div > </div>      
      <div> 
        <span> ///////// COSTO LAVORAZIONI ESTERNE AL PEZZO</span>
      </div>
    </div>
    <div fxLayout="column">
      <div> 
        <span> ///////// 5  </span>
      </div>      
      <div > </div>      
      <div> 
        <span> ///////// 5</span>
      </div>
      <div > </div>      
      <div> 
        <span> ///////// 5</span>
      </div>
      <div > </div>      
      <div> 
        <span> ///////// 5</span>
      </div>
    </div>
    <div fxLayout="column">
      <div> 
        <span> ******** COSTO MATERIA PRIMA AL PEZZO **********  </span>
      </div>      
      <div > </div>      
      <div> 
        <span> ///////// COSTO LAVORAZIONI INTERNE</span>
      </div>
      <div > </div>      
      <div> 
        <span> ///////// COSTO TRATTAMENTI AL PEZZO</span>
      </div>
      <div > </div>      
      <div> 
        <span> ///////// COSTO LAVORAZIONI ESTERNE AL PEZZO</span>
      </div>
    </div>
    <div fxLayout="column">
      <div> 
        <span> ///////// 5  </span>
      </div>      
      <div > </div>      
      <div> 
        <span> ///////// 5</span>
      </div>
      <div > </div>      
      <div> 
        <span> ///////// 5</span>
      </div>
      <div > </div>      
      <div> 
        <span> ///////// 5</span>
      </div>
    </div>
  </div>
  <br>
  <div id="show2" 
    fxLayout="row" > 
      <span> ------------- COSTO TOTALE PEZZI --------------- </span>
      <span> ------------- 24 --------------- </span>
      <span> ------------- COSTO TOTALE LOTTO --------------- </span>
      <span> ------------- 500 --------------- </span>
  </div>
  <div id="show" 
    fxLayout="row" > 
      <span> ------------- PREZZO AL CLIENTE --------------- </span>
      <span> ------------- 70 --------------- </span>
      <span> ------------- FATTURATO TOTALE --------------- </span>
      <span> ------------- 500 --------------- </span>
  </div>
  <div id="show2" 
    fxLayout="row" > 
      <span> ------------- GUADAGNO TOTALE --------------- </span>
      <span> ------------- 20 --------------- </span>
      <span> ------------- GUADAGNO PERCENTUALE --------------- </span>
      <span> ------------- 1 --------------- </span>
  </div>
      
  <div 
    fxLayout="row"
    fxFill>
  </div>
</div>