<div>
  <div>  
    <app-work-tree
    [workTypes]="workThermTypes"
    [workFactoryService]="_workFactory"
    (recalculated)="updateTreeOne($event)"> 
    </app-work-tree>
    <br>
  </div>
  <div>  
    <app-work-tree
    [workTypes]="workSupTypes"
    [workFactoryService]="_workFactory"
    (recalculated)="updateTreeTwo($event)"> 
    </app-work-tree>
    <br>
  </div>    
  <div>  
    <app-work-tree
    [workTypes]="workExtTypes"
    [workFactoryService]="_workFactory"
    (recalculated)="updateTreeThree($event)"> 
    </app-work-tree>
    <br>
  </div>
  <div>    
    <app-work-tree
      *ngIf="_userExtWorksLoaded"
      [workTypes]="userExtTypes"
      [workFactoryService]="_workFactory"
      (recalculated)="updateTreeFour($event)">
    </app-work-tree>  
    <br>
  </div>
  <div>    
    <app-disabled-input [input]="tot_lav_ext"> </app-disabled-input> 
  </div>
</div>