
<div ng-app="app">
  <app-header (toggleNav)="toggleSideNavigator()"></app-header>
  
  <!-- To render stuff correctly on mobile -->
  <mat-sidenav-container>
    <mat-sidenav 
      #sidenav 
      color="primary" 
      fxLayout="column" 
      mode="over"  
      opened="false" 
      fxHide.gt-sm="true">
      <div id="menu" fxLayout="column">
        <a mat-button routerLink="/configurator">Configuratore</a>
        <a mat-button routerLink="/about">About</a>
        <a mat-button routerLink="/faq">Faq</a>
        <a mat-button routerLink="/contacts">Contatti</a>
        <a id="link_icon"[routerLink]="['/login']" mat-icon-button>
          <mat-icon>account_circle</mat-icon> 
        </a>
      </div>
    </mat-sidenav>    
    <mat-sidenav-content>
      <div toastContainer>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>