<app-header></app-header>
<body>
  <span>CALCOLARE LE SPESE DI PRODUZIONE NON E' MAI STATO COSI' SEMPLICE</span>
  <a color="primary" mat-flat-button routerLink="configurator">INIZIA SUBITO</a>
  <router-outlet></router-outlet>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.12.0/firebase-app.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<!-- <script src="/__/firebase/7.12.0/firebase-analytics.js"></script> -->

<script src="/__/firebase/7.12.0/firebase-auth.js"></script>

<script src="/__/firebase/7.12.0/firebase-database.js"></script>

<script src="/__/firebase/7.12.0/firebase-storage.js"></script>
<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
</body>