/* Add application styles & imports to this file! */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

.mat-expansion-panel {
  display: block;
  align-self: center !important;
  /* background: pink; */
}
.mat-expansion-panel-body {
  display: block;
  align-self: center !important;
  /* align-content: center !important;  */
  background: darkgoldenrod;
  margin: 0px 10px;
}

.titleBold {
  font-weight: bold;
}

mat-form-field {
 margin: 0px 5px;
}
