<div fxLayout="row wrap" fxLayout.xs="column wrap">
  <div flex="">
  <form [formGroup]="pieceSelector">   
    <div>
      <mat-form-field>
        <mat-label>Seleziona profilo</mat-label>
        <mat-select 
          (selectionChange)="updateInputs(selectedShape)"
          [(value)]="selectedShape"
          name="shapeSelector">
          <mat-option *ngFor="let shape of shapes" [value]="shape">
          {{shape | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <app-number-input 
        *ngFor="let input of inputs"
        (inputChanged)="recalcWeight()"
        [input]="input">
      </app-number-input>
    </div>
    </form>
    <div> 
      <app-disabled-input [input]="totWPerPiece"> </app-disabled-input>
      <app-disabled-input [input]="totWeigth"> </app-disabled-input>
      <!-- Introdotto per i pezzi risultanti dal nesting -->
      <app-disabled-input 
        *ngFor="let o of optOutputs"
        [input]="o"> 
      </app-disabled-input>
    </div>
    <app-pdf-uploader
      [budget]="_configuratorService.currentSession"
      [showButton]="true"> 
    </app-pdf-uploader>
  </div>
</div>
